.user-info {
  display: flex;
  border-bottom: 1px solid gray;
  margin: 10px;
  padding-bottom: 10px;
}
.user-info img {
  float: left;
  height: 110px;
  width: 100px;
  margin: 0 10px 10px 5px;
}
.main-button {
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
}
