.page-container {
  display: flex;
}

.users-position {
  width: 30%;
}

.users-container {
  display: flex;
  margin: 10px;
  border-right: 1px solid gray;
  width: 80%;
}

.cart-container {
  color: brown;
  margin-top: 20px;
  background-color: rgb(223, 213, 202);
  height: 200px;
  padding: 20px;
}
