.page-container {
  display: flex;
}

.users-container {
  margin: 10px;
  border-right: 1px solid gray;

  width: 70%;
}

.user-info {
  display: flex;
  border-bottom: 1px solid gray;
  margin: 10px;
}
.user-info img {
  float: left;
  height: 80px;
  width: 80px;
  margin: 0 10px 10px 5px;
}
